<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC Database Connection Settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/library-management-system</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">password</property>

		<!-- JDBC Connection Pool Size -->
		<property name="hibernate.connection.pool_size">10</property>

		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Enable Hibernate's Automatic Schema Generation -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Show SQL Commands (Optional) -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Add Annotated Classes -->
		<mapping class="com.example.model.Account"/>
		<mapping class="com.example.model.Membership"/>
		<mapping class="com.example.model.MembershipType"/>
	</session-factory>
</hibernate-configuration>